<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script>

        function changeColor(element, border, color) {
            if (border === 1) {
                document.getElementById(element).style.borderColor = color;
                document.getElementById(element).style.color = color;
            } else {
                document.getElementById(element).style.color = color;
            }
        }

        function checkPassword() {
            let decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}$/;
            if (document.getElementById('new_password').value.match(decimal)) {
                changeColor('new_password', 1, 'green');
                changeColor('password_requirements', 0, 'gray');
                // return true;
                if (document.getElementById('new_password_repeated').value === document.getElementById('new_password').value ) {
                    changeColor('new_password_repeated', 1, 'green');
                    changeColor('password_requirements', 0, 'gray');
                    return true;
                } else {
                    changeColor('new_password_repeated', 1, 'red');
                    return false;
                }
            } else {
                changeColor('new_password', 1, 'red');
                changeColor('password_requirements', 0, 'red');
            }

        }

        function validatePassword() {
            if (checkPassword() === true) {
                document.getElementById('save_password_button').disabled = false;
            } else {
                document.getElementById('save_password_button').disabled = true;
            }
        }
    </script>
</head>
<body>

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">My Profile</p>

                                <div class="d-flex flex-column">
                                    <div class="d-flex m-2" style="justify-content: center">
                                        <a style="font-size: 1.2em; font-weight: bold">Name: {{ auth.name }}</a>
                                    </div>

                                    {% if auth.id > 0 %}
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">

                                                <form method="POST">
                                                    <div class="d-flex">
                                                        <input type="text" id="name" class="form-control"
                                                               name="name"
                                                               required/>
                                                        <button class="btn"
                                                        >save
                                                        </button>
                                                    </div>
                                                    <div class="d-flex">
                                                        <label class="form-label" for="name">Change
                                                            Name</label>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                        <div class="d-flex m-2" style="justify-content: center">
                                            <a style="font-size: 1.2em; font-weight: bold">Email: {{ auth.email }}</a>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">

                                                <form method="POST">
                                                    <div class="d-flex">
                                                        <input type="email" id="email" class="form-control"
                                                               name="email"
                                                               required/>
                                                        <button class="btn"
                                                        >save
                                                        </button>
                                                    </div>
                                                    <div class="d-flex">
                                                        <label class="form-label" for="email">Change
                                                            Email</label>
                                                    </div>
                                                    {% for error in error.email %}
                                                        <div class="d-flex"
                                                             style="justify-content: center; font-size: 0.8em">
                                                            <a style="color:red">{{ error }}</a>
                                                        </div>
                                                    {% endfor %}
                                                </form>
                                            </div>
                                        </div>

                                        <div class="d-flex m-2" style="justify-content: center">
                                            <a style="font-size: 1.2em; font-weight: bold">Change password</a>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">

                                                <form method="POST">
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <input type="password" id="password" class="form-control"
                                                               name="password"
                                                               required
                                                               placeholder="Current Password"
                                                        />
                                                    </div>

                                                    <div class="flex flex-row align-items-center mb-4">
                                                        <input type="password" id="new_password" class="form-control"
                                                               name="new_password"
                                                               required
                                                               placeholder="New Password"
                                                               onkeyup="validatePassword()"
                                                        />
                                                        <div>
                                                            <a id="password_requirements"
                                                               style="color: gray; font-size: 0.8em">Use 8 or
                                                                more characters (mix of letters, numbers & symbols)</a>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <input type="password" id="new_password_repeated"
                                                               class="form-control"
                                                               name="new_password_repeated"
                                                               required
                                                               placeholder="New Password Repeated"
                                                               onkeyup="validatePassword()"
                                                        />
                                                    </div>
                                                    {% for error in error.password %}
                                                        <div class="d-flex"
                                                             style="justify-content: center; font-size: 0.8em">
                                                            <a style="color:red">{{ error }}</a>
                                                        </div>
                                                    {% endfor %}
                                                    {% for alert in alert.password %}
                                                        <div class="d-flex"
                                                             style="justify-content: center; font-size: 0.8em">
                                                            <a style="color:red">{{ alert }}</a>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="d-flex" style="justify-content: center">
                                                        <button class="btn"
                                                                id="save_password_button"
                                                                disabled
                                                        >save
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>


                                <div class="d-flex justify-content-center">
                                    <a href="/">
                                        <button class="btn btn-lg" style="font-size: 1em; ">Get back to home</button>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>